<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.performance_main.dao.ProjectScoringMemberDao">
    <sql id="BASE_TABLE">
    tb_project_scoring_member
  </sql>

    <sql id="BASE_COLUMN">
    id,
    userId,
    currentProjectName,
    currentRole,
    ratingUserId,
    ratingUserRole,
    weight,
    score,
    scoreTime,
    updateTime
  </sql>

    <insert id="insert" parameterType="com.byd.performance_main.model.ProjectScoringMemberBean">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            userId,
            currentProjectName,
            currentRole,
            ratingUserId,
            ratingUserRole,
            weight,
            score,
            scoreTime,
        </trim>

        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{userId, jdbcType=VARCHAR},
            #{currentProjectName, jdbcType=VARCHAR},
            #{currentRole, jdbcType=INTEGER},
            #{ratingUserId, jdbcType=VARCHAR},
            #{ratingUserRole, jdbcType=INTEGER},
            #{weight, jdbcType=INTEGER},
            #{score, jdbcType=INTEGER},
            #{scoreTime, jdbcType=VARCHAR},
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        id = #{id, jdbcType=INTEGER}
    </delete>

    <delete id="deleteMany" parameterType="java.util.List">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.byd.performance_main.model.ProjectScoringMemberBean">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET
        <trim suffixOverrides=",">
            <if test="userId  != null">userId = #{userId , jdbcType=VARCHAR},</if>
            <if test="currentProjectName  != null">currentProjectName = #{currentProjectName , jdbcType=VARCHAR},</if>
            <if test="currentRole  != null">currentRole = #{currentRole , jdbcType=INTEGER},</if>
            <if test="ratingUserId  != null">ratingUserId = #{ratingUserId , jdbcType=VARCHAR},</if>
            <if test="ratingUserRole  != null">ratingUserRole = #{ratingUserRole , jdbcType=INTEGER},</if>
            <if test="weight  != null">weight = #{weight , jdbcType=INTEGER},</if>
            <if test="score  != null">score = #{score , jdbcType=INTEGER},</if>
            <if test="scoreTime  != null">scoreTime = #{scoreTime , jdbcType=VARCHAR},</if>
        </trim>
        WHERE
        id = #{id, jdbcType=INTEGER}
    </update>

    <select id="queryProjectScoringMemberBeanFromUserId"
            resultType="com.byd.performance_main.model.ProjectScoringMemberBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR}
    </select>

    <select id="queryProjectScoringMemberBeanFromUserIdAndScoreTime"
            resultType="com.byd.performance_main.model.ProjectScoringMemberBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR} AND scoreTime = #{scoreTime, jdbcType=VARCHAR}
    </select>

    <select id="queryProjectScoredFromUserIdAndProjectNameAndRatingUserIdAndScoreTime" resultType="INTEGER">
        SELECT
        score
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR} AND currentProjectName = #{currentProjectName,jdbcType=VARCHAR} AND
        ratingUserId = #{ratingUserId, jdbcType=VARCHAR} AND scoreTime = #{scoreTime, jdbcType=VARCHAR}
    </select>

    <select id="queryIdFromUserIdAndProjectNameAndRatingUserIdAndScoreTime" resultType="INTEGER">
        SELECT
        id
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR} AND currentProjectName = #{currentProjectName,jdbcType=VARCHAR} AND
        ratingUserId = #{ratingUserId, jdbcType=VARCHAR} AND scoreTime = #{scoreTime, jdbcType=VARCHAR}
    </select>

    <select id="queryProjectScoringMemberBeanFromUserIdAndProjectNameAndRatingUserIdAndScoreTime"
            resultType="com.byd.performance_main.model.ProjectScoringMemberBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR} AND currentProjectName = #{currentProjectName,jdbcType=VARCHAR} AND
        ratingUserId = #{ratingUserId, jdbcType=VARCHAR} AND scoreTime = #{scoreTime, jdbcType=VARCHAR}
    </select>

    <select id="queryAllProjectScoringMemberBean" resultType="com.byd.performance_main.model.ProjectScoringMemberBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="findProjectScoringMemberBeanFromUserIdAndProjectNameAndScoreTime" resultType="com.byd.performance_main.model.ProjectScoringMemberBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=VARCHAR} AND currentProjectName = #{currentProjectName,jdbcType=VARCHAR}AND scoreTime = #{scoreTime, jdbcType=VARCHAR}
    </select>

</mapper>
