<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.performance_main.dao.RoleDao">
    <sql id="BASE_TABLE">
    tb_role
  </sql>

    <sql id="BASE_COLUMN">
    id, roleLevel, roleName
  </sql>

    <insert id="insert" parameterType="com.byd.performance_main.model.RoleBean">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleLevel != null">
                roleLevel,
            </if>
            <if test="roleName != null">
                roleName,
            </if>
        </trim>

        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="roleLevel != null">#{roleLevel, jdbcType=INTEGER},</if>
            <if test="roleName != null">#{roleName, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.byd.performance_main.model.RoleBean">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET
        <trim suffixOverrides=",">
            <if test="roleLevel != null">roleLevel = #{roleLevel,jdbcType=INTEGER},</if>
            <if test="roleName != null">roleName = #{roleName, jdbcType=VARCHAR},</if>
        </trim>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

    <select id="queryRoleBean" resultType="com.byd.performance_main.model.RoleBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="queryRoleName" resultType="String">
        SELECT
        roleName
        FROM
        <include refid="BASE_TABLE"/>
        WHERE roleLevel = #{roleLevel, jdbcType=INTEGER}
    </select>

</mapper>