<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.performance_main.dao.RoleMenuDao">
    <select id="queryRoleMenuFromUserId" resultType="com.byd.performance_main.model.RoleMenuBean">
        select * from tb_role_menu where userId=#{userId, jdbcType=VARCHAR}

    </select>



</mapper>
